@import '../../globals.scss';

// Desktop Styles

@media screen and (min-width: 469px) {

    .footer {
        position: relative;
        margin-top: 7rem;
        padding: 1.7rem 12%;
        background-color: hsl(201, 11%, 93%);

        .footer__container {
            margin: 0 auto;

            .footer__row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .footer__left__list {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    .footer__column__one {
                        
                        margin-right: auto;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        
                        div {
                            
                            height: 100%;
                            display: flex;
                            align-items: center;
                            position: absolute;
                            bottom: 0;

                            img {
                                display: block;
                                max-width: 35%;
                                object-fit: contain;
                            }
                        }
                    }

                    .footer__column__two {
                        margin-left: 12rem;

                        div {

                            ul {
                                list-style: none;
                                
                                li {
                                    line-height: 1.7;

                                    a {
                                        color: $dark-greyish-blue;
                                        text-decoration: none;
                                        
                                        &:hover {
                                            color: $strong-cyan;
                                        }
                                    }
                                }
                            }

                            &:not(:first-child) {
                                margin-left: 1rem; /* 30px */
                            }
                        }
                    }

                }

                .footer__column__two {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    div {
                        padding: 0 2rem;
                    }
                }

                .footer__socials {

                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    a {
                        color: $dark-greyish-blue;
                        font-size: 1.2rem;
                        padding: 0 0.6rem;

                        &:hover {
                            color: $strong-cyan;
                        }
                    }

                }
            }
        }
    }

}

// Mobile Styles

@media screen and (max-width: 468px) {

    .footer {
        position: relative;
        margin-top: 7rem;
        padding: 1.7rem 12%;
        background-color: hsl(201, 11%, 93%);

        .footer__container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .footer__row {
                
                margin-top: 1.25rem;

                .footer__left__list {


                    .footer__column__two {

                        ul {

                            list-style: none;

                            li {
                                padding: 0.5rem 0;

                                a {
                                    text-decoration: none;
                                    color: $dark-greyish-blue;

                                    &:hover {
                                        color: $strong-cyan;
                                    }
                                }

                            }
                        }
                            

                    }
                }

                img {
                    width: 40%;
                    padding-bottom: 1.5rem;
                }

                .footer__socials {

                    margin-top: 2rem;

                    a {
                        font-size: 1.33rem;

                        .i {
                            color: $dark-greyish-blue;
                            margin: 0 0.75rem;

                            &:hover,
                            &:active {
                                color: $strong-cyan;
                            }
                        }
                    }
                }
            }
        }
    }
}